body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
agm-map {
    height: 300px;
}

.table-custom {
    display: inline-block;
    overflow: scroll;
    max-height: 400px;
}

.right {
    text-align: right;
}

table {
    table-layout: fixed;
    width: 100%;
}

td {
    word-wrap: break-word;
}

.error {
    color: red;
}

#mapCollapse {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 80px;
    border: 15px solid #808489;
    background-color: white;
}

#mapCollapseClose {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 20px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 2px;
    background-color: black;
    color: white;
}

input.ng-touched.ng-invalid {
    border: solid red 2px;
}

input.ng-touched.ng-valid {
    border: solid green 2px;
}