<input type="button" class="btn btn-primary" value="Add new" (click)="AddNew($event)" id="AddNew" />
<input type="button" class="btn btn-primary" value="Find" (click)="FindNew($event)" id="FindNew" />
<table class="table table-custom">
    <tr>
        <td></td>
        <td></td>
        <th>Id</th>
        <th>Region</th>
        <th>District</th>
        <th>City</th>
        <th>Index</th>
        <th>Street</th>
        <th>House</th>
        <td></td>
    </tr>
    <tr *ngFor="let m of List">
        <td><input type="button" class="btn btn-primary" value="Delete" (click)="Delete(m)" id="delete_{{m.id}}" /></td>
        <td><input type="button" class="btn btn-primary" value="Edit" (click)="EditNew(m.id)" id="edit_{{m.id}}" /></td>
        <td>{{m.id}}</td>
        <td>{{m.region}}</td>
        <td>{{m.district}}</td>
        <td>{{m.city}}</td>
        <td>{{m.indexx}}</td>
        <td>{{m.street}}</td>
        <td>{{m.house}}</td>
        <td><input type="button" class="btn btn-primary" value="Find on map" (click)="FindOnMap(m)" id="FindOnMap_{{m.id}}" data-toggle="collapse" data-target="#mapCollapse"/></td>
    </tr>
</table>
<input type="button" class="btn btn-primary" value="next" (click)="GetNext()" />

<!-- Collapse -->
<div id="mapCollapse" class="collapse">
    <span>{{SearchResult}}</span>
    <div class="map">
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <button id="mapCollapseClose" type="button" class="btn" value="next" (click)="CloseMap()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>

<!-- Modal -->
<!-- Edit -->
<div class="modal fade" id="Edit" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit</h4>
            </div>
            <div class="modal-body modal-center">
                <table>
                    <tr>
                        <td>Id:</td>
                        <td>{{item.id}}</td>
                    </tr>
                    <tr>
                        <td>Region:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.region" required></td>
                    </tr>
                    <tr>
                        <td>District:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.district" required></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.city" requireds></td>
                    </tr>
                    <tr>
                        <td>Index:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.indexx" required ng-trim="false"></td>
                    </tr>
                    <tr>
                        <td>Street:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.street" required ng-trim="false"></td>
                    </tr>
                    <tr>
                        <td>House:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.house" required ng-trim="false"></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></td>
                        <td class="right"><input type="button" class="btn btn-primary" value="Edit" (click)="SaveEdit($event)" id="SaveEdit" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>




<!-- Add -->
<div class="modal fade" id="Add" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add</h4>
            </div>
            <div class="modal-body modal-center">
                <table>
                    <tr>
                        <td>Region:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.region" required ng-trim="false"></td>
                    </tr>
                    <tr>
                        <td>District:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.district" required ng-trim="false"></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.city" required ng-trim="false"></td>
                    </tr>
                    <tr>
                        <td>Index:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.indexx" required ng-trim="false"></td>
                    </tr>
                    <tr>
                        <td>Street:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.street" required ng-trim="false"></td>
                    </tr>
                    <tr>
                        <td>House:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.house" required ng-trim="false"></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></td>
                        <td class="right"><input type="button" class="btn btn-primary" value="Edit" (click)="Add($event)" id="AddNew" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<!-- Find -->
<div class="modal fade" id="Find" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Find</h4>
            </div>
            <div class="modal-body modal-center">
                <span class="error">{{error}}</span>
                <table>
                    <tr>
                        <td>Id:</td>
                        <td><input type="text" class="form-control" [(ngModel)]="item.id" required ng-trim="false"></td>
                    </tr>
                    <tr>
                        <td>Region:</td>
                        <td>{{item.region}}</td>
                    </tr>
                    <tr>
                        <td>District:</td>
                        <td>{{item.district}}</td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td>{{item.city}}</td>
                    </tr>
                    <tr>
                        <td>Index:</td>
                        <td>{{item.indexx}}</td>
                    </tr>
                    <tr>
                        <td>Street:</td>
                        <td>{{item.street}}</td>
                    </tr>
                    <tr>
                        <td>House:</td>
                        <td>{{item.house}}</td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td></td>
                        <td class="right"><input type="button" class="btn btn-primary" value="Find" (click)="Find($event)" id="FindNew" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

